@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: #000000;
}

::-webkit-scrollbar-thumb {
	background: #6741d9;
	border-radius: 10px;
}

* {
	box-sizing: border-box;
	margin: 0;
}

ul,
ol {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	background: #ffffff;
}

body {
	font-family: "Inter", sans-serif;
	// background: black !important;
	color: black !important;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin-inline: auto;
	padding-inline: 20px;
}
